* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, p {
    margin-block-start: 0;
    margin-block-end: 0;
    border: none;
}

body {
    background-color: rgb(27, 27, 27);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    justify-content: space-between;
}

header, footer {
    width: 100%;
    min-height: 100px;
    text-align: center;
}

header {
    border-bottom: 2px white solid;
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

header div {
    display: flex;
    align-items: center;
}

header>div {
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
}

header>div>div {
    gap: 10px;
}

header p {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

#modalWindow {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 10px;
    background-color: rgb(27, 27, 27);
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
}

.files, .folders {
    border-top: 2px solid white;
    padding: 10px;
    border-radius: 15px;
    width: 90vw;
    background-color: gray;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.file, .folder {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    cursor: pointer;    
    width: min(100%, 20vw);    
}

.file div, .folder div{
    max-width: 50%;
    display: flex;
    gap: 5px;
}

.file a, .folder a{    
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file:hover, .folder:hover {
    background-color: rgb(27, 27, 27);
}

.file img, .folder img{
    width: 24px;
}

.file button, .folder button{
    all: unset;
}

dialog {
    box-shadow: 0 0 5px 5px wheat;
    background-color: rgb(27, 27, 27);
    border-radius: 25px;
    color: white;
    border: none;
}

dialog label {
    padding: 20px;
    border: 5px dashed gray;
}

dialog .button_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

dialog .linker a{
    color: black;
}

footer {
    border-top: 2px white solid;
    padding-top: 20px;
}

#info-folder-dialog>p:nth-child(2) span {
    color: red;
}